# ignore files
*.exe
*.[oa]
*.sdf
*.opensdf
*.obj
.DS_Store

Report/*.log
Report/*.aux
Report/*.synctex
Report/*.toc
Report/*.out

# ignore directories
VSProject/gSpan/Debug
VSProject/gSpan/gSpan/Debug
VSProject/gSpan/Release
VSProject/gSpan/gSpan/Release